[Unit]
Description=MAVProxy
After=network.target

[Service]
User=saltenna
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/var/log/mavproxy
ExecStart=/home/msundius/venv/mavproxy/bin/mavproxy.py \
  --master=/dev/ttyACM0 \
  --baudrate 115200 \
  --out=udpin:0.0.0.0:14550 \
  --non-interactive
Restart=always

[Install]
WantedBy=multi-user.target

