[Unit]
Description=PiCar Control Server
After=network.target
After=mavproxy.service

[Service]
ExecStart=/usr/bin/node /opt/picar/app.js
ExecStopPost=/usr/bin/killall -q ffmpeg libcamera-vid rpicam-vid || true
WorkingDirectory=/opt/picar
StandardOutput=inherit
StandardError=inherit
Restart=always
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=5
User=saltenna
Environment=NODE_ENV=production

[Install] 
WantedBy=multi-user.target

